<!DOCTYPE html>
<html>
<head>
  <meta Charset="UTF-8">
  <title>tMinus</title>
  <link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/custom/main.css">


</head>
<body>
  <section>
    <nav class="navbar navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=".#/home" id="header"><img src="../img/logo.png"></a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href=".#/home">About Us</a></li>
           <!--  <li class="active"><a href=".#/list"></a></li>  -->
            <li><a href=".#/form">Contact Us</a></li>  
          </ul>
        </div>
      </div>
    </nav>

    <div id="intro">
      <div class="container">
        <h2>tMinus</h2>
        <p>We are buliding the next best produtivity tool to in reverse mode keep you aware of how to get the best out of your time spent working.</p>
        <p>Leave Your email to get an invite for Beta release.</p>


        <form class="form-horizontal" id="input">
          <div class="form-group form-group-lg">
            <div class="col-sm-10">
              <input  type="text" id="formGroupInputLarge" placeholder="email"><button class="btn btn-lg" id="button">Notify Me</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="info">
      <p> hffdhjdfjhkfdhjfhjfdhjfdjkhfdkjfsjhdfsjhfhjfdhjfjhdfhjfjh</p>
    </div>

    <footer class="footer">
      <div class"right-nav">
        <h4 class="text-muted">tMinus</h4>
        <p>Make each hour count.</p>
      </div>
      <div class="left-nav">
        <a href=""><img src="../img/tw.png"></a>
        <a href="mailto:oluwaseye.olofinyo@andela.co"><img src="../img/email.png"></a>
        <a href=""><img src="../img/fb.png"></a>
      </div>
    </footer>
  </section>
</body>
</html>